---
const { title = 'Sancho Starter', description = 'Modern static website.' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <title>{title}</title>
  <link rel="canonical" href={Astro.site?.href || ''}>
</head>
<body class="bg-background text-secondary">
  <slot />
</body>
</html>